
html {

       background: url(pattern.png) no-repeat center center fixed;

       -webkit-background-size: cover;

       -moz-background-size: cover;

       -o-background-size: cover;

       background-size: cover;

}


.Centered {
/* Ты сегодня покормил */

position: absolute;
width: 1120px;
height: 44px;
left: 80px;
top: 36px;

/* Header */

font-family: 'Exo 2', sans-serif;
font-size: 36px;
line-height: 44px;
/* identical to box height, or 122% */
text-align: center;

color: #FFFFFF;

text-shadow: 0px 1px 1px #000000;
}





.card {
    position: relative;
width: 320px;
height: 509px;
left: 170px;
top: -550px;


}

.cat {
    position: absolute;
    width: 320px;
    height: 509px;
    left: 7.5px;
    top: -4px;
}

.text {
    position: absolute;
height: 19px;
left: 15.94%;
right: 20%;
top: 30px;
}

.nyam {
    position: absolute;
height: 56px;
left: 5px;
right: 19.06%;
top: 30px;
}

.oval {
    position: absolute;
left: 158px;
right: 200px;
top: 320px;
bottom: 8.84%;
}

.footerText {
    position: absolute;
    height: 15px;
    left: -165px;
    right: 0px;
    top: 120px;
}

.weight {
    position: absolute;
    height: 22px;
    left: 170px;
    right: -100px;
    top: -106px;
}
   
.kg {
    position: absolute;
    height: 52px;
    left: 21px;
    right: 14.22%;
    top: 45px;

}

