* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-size: 100%, 100%;
  
  
}

.pattern {
  position: relative;
  padding-top: 70px;
  
  
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 36px;
  text-align: center;
  background-image: url(pattern.png);
  color: #ffffff;

}

.container {
 
  display: flex;
  
  justify-content: center;
  background-image: url(pattern.png);
  height: 100vh;
  padding-top: 50px;
  
  
}




.card  {
  
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  padding: 50px;
  padding-top: 0px;
  
}


.frame {
  position: relative;
  border: 4px solid #1698d9;
  border-radius: 12px;
  padding-top: 21px;
  padding-left: 48px;
  width: 320px;
  height: 480px;
  background-color: #f2f2f2;
  background-image: url(content.png);
  background-position: -10px 240px;
  background-size: contain;
  background-repeat: no-repeat;
}


.frameBorder {
  content: "";
  position: absolute;
  z-index: 1;
  height: 60px;
  width: 4px;
  background-color: #1698d9;
  transform: translate(-30px, -32px) rotate(45deg);
}

.frame::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 62px;
  background-color: #1d1d1d;
  background-image: url("pattern.png");
  transform: translate(-35px, -34px) rotate(45deg);
}


.notice {
  font-weight: normal;
  font-size: 16px;
  color: #666666;
}


.hover {
  display: none;
}


.title {
  font-weight: bold;
  font-size: 48px;
  color: #000000;
}

.taste {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}

.portion {
  font-weight: normal;
  font-size: 14px;
  color: #666666;
  padding-top: 10px;
}

.weight-circle {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #2ea8e6;
  text-align: center;
}

.weight {
  font-weight: normal;
  font-size: 42px;
  color: #ffffff;
  margin-top: 5px;
}

span {
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
  color: #ffffff;
  margin-top: -5px;
}

.bottom-text {
  padding-top: 10px;
  text-align: center;
  font-weight: normal;
  font-size: 13px;
  color: #ffffff;
  display: block;
}





.bottom-selected {
  padding-top: 10px;
  text-align: center;
  font-weight: normal;
  font-size: 13px;
  color: #ffffff;
  display: none;
}

.selected .frame {
  
  border: 4px solid #E52E7A;
 
 
}

.selected .frameBorder {
  
  background-color: #E52E7A;
  
}



.selected:hover .notice {
  display: none;
}


.selected:hover .hover {
  display: block;
  color: #E52E7A;
}


.selected .bottom-text {
  display: none;
}



.selected .bottom-selected {
  display: block;
}




.selected .weight-circle {
 
  background: #E52E7A;
 
}





.disabled .frame  {
  position: relative;
  border: 4px solid #979797;
  background-color: rgba(242, 242, 242, 0.9);
  filter: grayscale(60%);
  
  
}   

.disabled .frameBorder{
  filter: grayscale(60%);
  background-color: #979797;
  
}

.disabled .content {
  opacity: 0.4;
  
}
 

.disabled .bottom-disabled {
  
  margin-top: 10px;
  text-align: center;
  font-weight: normal;
  font-size: 13px;
  color: #FFFF66;
  height: 35px
  
}

.disabled .bottom-text {
  display: none;

}

.disabled .bottom-selected {
  display: none;
}





.disabled .weight-circle {
  background: #979797;
  background-color: rgba(100, 94, 94, 0.3);
  
}




.disabled .selected .hover {
  display: none;
}

.disabled .selected:hover {
  display: none;
}

.disabled .hover {
  display: none;
}

.disabled:hover .hover {
  display: none;
}

.disabled:hover .notice {
  display: block;
}
