* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-image: url(pattern.png);

}


.card {
  position: relative;
  padding: 10px;

  
  

}


.content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    height: 480px;
    width: 315px;
    padding-top: 10px;
    padding-left: 60px;
    background-color: #F2F2F2;
    background-image: url(content.png);
    background-position: -15px 220px;
    background-repeat: no-repeat;
   


}



.notice {
    font-weight: normal;
    font-size: 16px;
    color: #666666;


}

.title {
    font-weight: bold;
    font-size: 48px;
    color: #000000;


}


.taste {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-right: 90px;


}

.weight-circle {

    position: absolute;
    right: 15px;
    bottom: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #2EA8E6;


}

.weight {

    position: absolute;
    top: 20px;
    left: 10px;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 22px;
    color: #FFFFFF;


}

.weight span {
    position: absolute;
    font-size: 22px;
    top: 30px;
    left: 20px;


}

.bottom-text {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;



}


/* Example styles */
.example-container {
    background-color: cadetblue;
    padding: 10px;
}

.cut-corner {
    padding: 5px;
    height: 100px;
    width: 200px;
    background-image: linear-gradient(to bottom left, transparent 50%, beige 50%), linear-gradient(beige, beige), linear-gradient(beige, beige);
    background-size: 25px 25px, 100% 100%, 100% 100%;
    background-position: 100% 0%, -25px 0%, 100% 25px;
    background-repeat: no-repeat;
}

.filled {
    margin-top: 10px;
    background-image: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(black, black), linear-gradient(black, black), linear-gradient(to bottom left, transparent calc(50% - 1px), black calc(50% - 1px), black calc(50% + 1px), beige calc(50% + 1px)), linear-gradient(beige, beige), linear-gradient(beige, beige);
    background-size: 2px 100%, 2px 100%, 100% 2px, 100% 2px, 25px 25px, 100% 100%, 100% 100%;
    background-position: 0% 0%, 100% 25px, -25px 0%, 0px 100%, 100% 0%, -25px 0%, 100% 25px;
}


